.cart {
  background: rgb(240,240,240);
  @media screen and (min-width: 2801px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  @media screen and (max-width: 2800px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 1300px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 400px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.cart_cartitemscontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 0 20vw 0 20vw;
  @media screen and (max-width: 768px) {
    margin: 0 10vw 0 10vw;
  }
}


.incart_itemimg {
  @media screen and (min-width: 2801px) {
    width: 200px;
  }
  @media screen and (max-width: 2800px) {
    width: 100px;
  }
  @media screen and (max-width: 768px) {
    width: 50px;
  }
}


.i1,
.i2,
.i3,
.i4,
.i5,
.i6 {
  background: white;
  margin: 5vh 5vw 0 5vw;
  display: none;
}
.incart_removeall,
.incart_add1,
.incart_subtract1 {
  display: inline-block;
  color: #646464;
  &:hover {
    transition: 200ms;
    color: #c86400;
    cursor: pointer;
  }
}







/*
.cart {
  height: 100vh;
  background: rgb(240,240,240);
  @media screen and (max-width: 2801px) {
    padding-top: 100px;
  }
  @media screen and (max-width: 2800px) {
    padding-top: 100px;
  }
}
@media screen and (min-width: 2801px) {
  .cart {
    padding-top: 200px;
  }
}
@media screen and (max-width: 2800px) {
  .cart {
    padding-top: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .cart {
    padding-top: 80px;
  }
}
@media screen and (max-width: 768px) {
  .cart {
    padding-top: 80px;
  }
}
@media screen and (max-width: 400px) {
  .cart {
    padding-top: 80px;
  }
}

.cart_showcartitemsbutton,
.cart_showcurrentbalancebutton,
.cart_emptycartbutton {
  cursor: pointer;
  margin: 5vh 5vw 5vh 5vw;
}
*/
