@import '../../Components/Styles/Colors';

.landing-parent {
  height: 100vh;
}
.home {
  height: 100vh;
  min-height: 568px;
  display: grid;
  place-items: center;
  text-align: center;
}

/*
MENU LINKS DESKTOP _____________________________________________________________
*/
.landing-desktop-menu {
  position: fixed;
  background: $backgroundcolor1;
  width: 100vw;
  @media screen and (min-width: 1921px) {
    box-shadow: 0 4px 0px rgba(black,0.1);
  }
  @media screen and (max-width: 1920px) {
    box-shadow: 0 2px 0px rgba(black,0.1);
  }
}
.landing-menu-parent {
  @media screen and (min-width: 2561px) {
    margin-left: 200px;
  }
  @media screen and (max-width: 2560px) {
    margin-left: 150px;
  }
  @media screen and (max-width: 1920px) {
    margin-left: 100px;
  }
  @media screen and (max-width: 1366px) {
    margin-left: 50px;
  }
}
.landing-menu-links {
  color: $textcolor1;
  &:hover {
    transition: 200ms;
    color: $textcolor3;
  }
  @media screen and (min-width: 2561px) {
    margin: 50px;
  }
  @media screen and (max-width: 2560px) {
    margin: 35px;
  }
  @media screen and (max-width: 1920px) {
    margin: 25px;
  }
  @media screen and (max-width: 1366px) {
    margin: 20px;
  }
}
@media screen and (max-width: 768px) {
  .landing-menu-parent {
    display: none;
  }
}


/*
MENU BUTTON MOBILE _____________________________________________________________
*/
.menu_button_parent {
  @media screen and (max-width: 768px) {
    position: fixed;
    background: $backgroundcolor1;
    width: 100vw;
    box-shadow: 0 2px 0px rgba(black,0.1);
    height: 52px;
  }
}
.menu_button {
  cursor: pointer;
  position: fixed;
  margin: 20px;
  &:hover {
    transition: 200ms;
    transform: scale(1.5);
    .menu_button_line {
      transition: 200ms;
      background: $textcolor3;
    }
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.menu_button_line {
  background: $textcolor1;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
  @media screen and (max-width: 768px) {
    width: 22px;
    height: 2px;
    margin-top: 10px;
  }
}

/*
MOBILE MENU ____________________________________________________________________
*/
@media screen and (min-width: 769px) {
  .landing-mobile-menu-parent {
    display: none;
  }
  .landing-mobile-menu {
    display: none;
  }
}
.landing-mobile-menu {
  transition: 200ms;
  position: fixed;
  width: 250px;
  /*min-height: 568px;*/
  transform: translateY(-100%);

}
.landing-mobile-menu-parent {
  height: 350px;
  background: $backgroundcolor1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 0px rgba(black,0.1);
}
.landing-mobile-menu-links {
  transition: 200ms;
  cursor: pointer;
  color: $textcolor1;
  &:hover {
    transition: 200ms;
    color: $textcolor3;
  }
}
.toggleMenuChange {
  transform: translateY(52px);
}
