/*
0-400 (mf), 401-768 (mf2), 769-1300 (df), 1301-1680 (df2), 1681-1920 (df3), 1921-2800 (df4), 2801+ (df5)
*/

$mobile-smallfont: 12px;
$mobile-smallfont-bigger: 15px;
$mobile-mediumfont-smaller: 30px;
$mobile-mediumfont: 40px;
$mobile-largefont: 30px;

$mobile2-smallfont: 13px;
$mobile2-smallfont-bigger: 17px;
$mobile2-mediumfont-smaller: 40px;
$mobile2-mediumfont: 50px;
$mobile2-largefont: 60px;

$desktop-smallfont: 14px;
$desktop-smallfont-bigger: 20px;
$desktop-mediumfont-smaller: 50px;
$desktop-mediumfont: 60px;
$desktop-largefont: 80px;

$desktop2-smallfont: 15px;
$desktop2-smallfont-bigger: 22px;
$desktop2-mediumfont-smaller: 50px;
$desktop2-mediumfont: 60px;
$desktop2-largefont: 90px;

$desktop3-smallfont: 20px;
$desktop3-smallfont-bigger: 24px;
$desktop3-mediumfont-smaller: 50px;
$desktop3-mediumfont: 60px;
$desktop3-largefont: 130px;

$desktop4-smallfont: 22px;
$desktop4-smallfont-bigger: 26px;
$desktop4-mediumfont-smaller: 50px;
$desktop4-mediumfont: 60px;
$desktop4-largefont: 160px;

$desktop5-smallfont:  40px;
$desktop5-smallfont-bigger:  48px;
$desktop5-mediumfont-smaller: 100px;
$desktop5-mediumfont: 120px;
$desktop5-largefont: 180px;

/*
$mobile-smallfont: 13px;
$mobile-smallfont-bigger: 15px;
$mobile-mediumfont-smaller: 25px;
$mobile-mediumfont: 50px;
$mobile-largefont: 100px;

$mobile2-smallfont: 15px;
$mobile2-smallfont-bigger: 17px;
$mobile2-mediumfont-smaller: 30px;
$mobile2-mediumfont: 70px;
$mobile2-largefont: 140px;

$desktop-smallfont: 17px;
$desktop-smallfont-bigger: 20px;
$desktop-mediumfont-smaller: 40px;
$desktop-mediumfont: 80px;
$desktop-largefont: 160px;

$desktop2-smallfont: 18px;
$desktop2-smallfont-bigger: 22px;
$desktop2-mediumfont-smaller: 43px;
$desktop2-mediumfont: 100px;
$desktop2-largefont: 200px;

$desktop3-smallfont: 20px;
$desktop3-smallfont-bigger: 24px;
$desktop3-mediumfont-smaller: 45px;
$desktop3-mediumfont: 110px;
$desktop3-largefont: 220px;

$desktop4-smallfont: 22px;
$desktop4-smallfont-bigger: 26px;
$desktop4-mediumfont-smaller: 60px;
$desktop4-mediumfont: 80px;
$desktop4-largefont: 160px;

$desktop5-smallfont:  40px;
$desktop5-smallfont-bigger:  48px;
$desktop5-mediumfont-smaller: 90px;
$desktop5-mediumfont: 220px;
$desktop5-largefont: 440px;
*/
